.indexfrmt {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-right:0px;
  padding:0;
}
.navigation {
    border-bottom: 1px solid black;
    padding-top: 17px;
    padding-bottom: 15px;
    background: lightblue;
    height: 60px;
    color: blue;
    margin: 0px;
    font-size:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
    width: 49%;
    text-align: left;
    float: left;
    padding-left:1%;
    font-size:30px;
    font-weight: bold;
}
.loginlink {
    margin-right: 1.0em;
    text-align: right;
    float: right;
}
body {
    margin:0 px;
    padding: 0px;
}
h1 {
    text-align: center;
}
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.day {
    border: 1px solid gainsboro;
    padding: 5px;
    min-height: 100px;
    position: relative;
}
.day-number {
    font-weight: bold;
    margin-bottom: 5px;
}
#month-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width:1200px;
    margin: 0   auto;
}
.calendar-section {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    padding-left:20px;
}